/* Estilos generales */
.login-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #f4f4f4; */
    overflow: hidden;
    background-image: url('../Images/fondo2.jpg');
    background-size: cover;
    /* Hace que la imagen se ajuste al tamaño del contenedor sin repetirse */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-attachment: fixed;
    /* Mantiene la imagen fija en su lugar mientras se desplaza la página */
}


/* Estilos para el fondo de pantalla y superposición */
[class*=underlay] {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.underlay-photo {
    background: url('https://31.media.tumblr.com/41c01e3f366d61793e5a3df70e46b462/tumblr_n4vc8sDHsd1st5lhmo1_1280.jpg');
    background-size: cover;
    filter: grayscale(30%);
    animation: hue-rotate 6s infinite;
}

.underlay-black {
    background: rgba(0, 0, 0, 0.7);
}

/* Estilos para el formulario de inicio de sesión */
.login-form {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

.login-text {
    color: white;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 50%;
    padding: 0.5rem;
    text-align: center;
}

/* Estilos para los íconos y etiquetas de entrada */
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-group label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
    font-weight: bold;
}

/* Estilos para los input en estado normal (no enfocado) */
input[type="text"],
input[type="password"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(7, 7, 7, 0.5);
    color: black;
    display: block;
    margin: 1rem;
    padding: 0.5rem;

    width: calc(100% - 3rem);
}

/* Estilos para los input en estado enfocado */
input[type="text"]:focus,
input[type="password"]:focus {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    /* Cambia el color del borde */
    color: black;
    /* Cambia el color del texto */
    transition: 250ms border-color ease-in, 250ms color ease-in;
}

/* Estilos para el botón de inicio de sesión */
.login-submit {
    border: 1px solid black;
    background: transparent;
    color: black;
    display: block;
    margin: 1rem auto;
    min-width: 1px;
    padding: 0.25rem;
    transition: 250ms background ease-in;
}

.login-submit:hover,
.login-submit:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
}

/* Estilos para el enlace de contraseña olvidada */
.login-forgot-pass {
    color: white;
    cursor: pointer;
    display: block;
    font-size: 75%;
    opacity: 0.6;
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.login-forgot-pass:hover {
    opacity: 1;
}

/* Estilos para la animación de rotación de color de fondo */
@keyframes hue-rotate {
    from {
        filter: grayscale(30%) hue-rotate(0deg);
    }

    to {
        filter: grayscale(30%) hue-rotate(360deg);
    }
}