.App {
  text-align: center;
  background-color: #1c232e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
 

.camionesMenu-contenedor {
  width: 80%;
  height: 750px;
  margin: 0.5% auto;
  padding: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 4px solid #333333;
  border-radius: 1%;
  overflow: auto;
}



/* Estilo para los campos de entrada pequeños */
.small-input {
  width: 100px;
  /* Ancho deseado para los inputs pequeños */
}

.rbstyle {
  margin: 10px;
}

/* Estilos para formularios */
.inp2-form {
  width: 10px;
}

.select-form {
  width: 100%;
  height: 40px;
  margin: 10px;
}