.cardRuta {
    width: 18rem;
    margin-bottom: 20px;
    border-color: #333333;
    margin: 20px;
    padding: 10px;
    background-color: black;
    color: black;
}

.boton-ver {
    background-Color: "#40609F";
    border-color: "black";
    color: "white";
}

.boton-eliminar,
.boton-editar {
    background-color: #727273 !important;
    border-color: black !important;
    color: black !important;
}

/* Estilo adicional para el botón de editar */
.boton-editar {
    margin-right: 5px !important;
}

.contenedor-botones {
    margin-top: 10px
}